<html>

<head>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/signin.css') }}">
    <title>Sign in</title>
</head>

<body>
    <div id="note">

    </div>
<div class="mainForgetPass">
    <p class="sign" align="center">Forget password</p>
    <form class="form1" action="/forgetpass" method="post">
        <input class="un" name="inputUsername" type="text" placeholder="Email">
    <button type="submit"  class="submit" >Send Email</button>
    </form>
    <p class="forgot" align="center"><a href="/">Already User</a></p>
    <p class="signup" align="center"><a href="signup">New User</a></p>


</div>

</body>

<script>
    var msg = {{ msg|tojson|safe }}
    var error = msg['errorMsg']
    if(error!='None' || typeof(error) == undefined)
        document.getElementById('note').innerHTML = error;
</script>
</html>